name: Run Gradle Build
on:
  - push
  - pull_request

jobs:
  gradle:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source
        uses: actions/checkout@v4.1.1

      - name: Setup Java 8 (toolchain)
        uses: actions/setup-java@v4.0.0
        id: jdk8
        with:
          distribution: temurin
          java-version: 8

      - name: Setup Java 17 (Gradle runtime)
        uses: actions/setup-java@v4.0.0
        id: jdk17
        with:
          distribution: temurin
          java-version: 17

      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Execute Gradle build
        env:
          JAVA_HOME: ${{ steps.jdk17.outputs.path }}
          ORG_GRADLE_JAVA_INSTALLATIONS_PATHS: ${{ steps.jdk8.outputs.path }},${{ steps.jdk17.outputs.path }}
        run: ./gradlew build

      - name: Upload built mod JAR
        uses: actions/upload-artifact@v4.3.0
        with:
          name: mod-jar
          path: build/libs/*.jar
